* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* regole pagina */

a {
  text-decoration: none;
}

.testo1 {
  font-weight: 800;
  font-size: 20px;
  color: white;
  margin-top: 30px;
}

.testo2 {
  font-weight: 600;
  font-size: 10px;
  color: white;
}

.testo3 {
  font-weight: 800;
  font-size: 10px;
  color: #ae9f6f;
}

.testo3b {
  font-weight: 800;
  font-size: 10px;
  color: white;
  margin-top: 10px;
}

.testo4 {
  font-weight: 800;
  font-size: 8px;
  color: #ae9f6f;
  margin-top: 10px;
}

.testo3:hover {
  color: white;
}

#container {
  display: flex;
  justify-content: flex-start;
}


/* parte laterale sx */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  padding: 16px;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
}

#logo {
  min-height: 50px;
  background-color: grey;
  margin: 10px 0;
}

#navbar {
  min-height: 50px;
  background-color: grey;
  margin: 10px 0;
}

#playlist {
  min-height: 50px;
  background-color: grey;
  flex-grow: 1;
  margin: 10px 0;
}

#installer {
  min-height: 50px;
  background-color: grey;
  margin: 10px 0;
}

#user {
  min-height: 50px;
  background-color: grey;
  margin: 10px 0;
}

/* parte centrale */
/* contenitore upgrade + centrale */
#canzoni {
  width: calc(100% - 240px);
  height: calc(100vh - 100px);
  margin-left: 240px;
}

/* barra upgrade fissata in alto */

#upgrade {
  width: calc(100% - 240px) ;
  height: 80px;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 240px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  line-height: 60px;
}

#linkupgrade {
  width: 240px;
  margin: 10px;
}

#linkupgrade:hover {
  transform: scale(1.2);
}

#linkupgrade a {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 40px;
}

/* parte centrale con copertine degli album e generi musicali */

#centrale {
  padding: 90px 10px 10px 10px;
  overflow: hidden;
  background-color: #101113;
}

/* generi musicali */

#generi {
  display: flex;
  justify-content: center;
}

.genere {
  width: 100px;
  text-align: center;
}

#evidenziato {
  width: 30px;
  border: 2px solid #ccff00;
  margin-left: 35px;
}

/* liste create, recenti etc */

#recenti, #create, #popolari {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

/* liste recenti */

.album {
  text-align: center;
  width: 150px;
  margin-right: 10px;
}

.copertina {
  position: relative;
}

.cursorplay {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.copertina:hover .cursorplay {
  display: initial;
}

.copertina img {
  width: 100%;
  height: auto;
}

.copertina:hover {
  cursor: pointer;
}
/* liste popolari */

#popolari img {
  border-radius: 50%;
}

/* fondo pagina barra con infobrano, player e comandi*/
#barra {
  width: 100%;
  height: 100px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 100;
  left: 0;
}

/* infobrano, copertina, preferiti, playlist */

#infobrano {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#info1 {
  width: 50px;
}

#info1 img {
  width: 100%;
  height: auto;
}

#info2 {
  flex-grow: 1;
}

#info2 .testo4 {
  margin-top: 1px;
  margin-left: 10px;
}

#info2 .testo4:nth-of-type(1) {
  color: white;
  font-size: 9px;
}

#info3 {
  width: 50px;
  text-align: right;
  color: #ae9f6f;
}

#info3 i:nth-of-type(1) {
  margin-right: 10px;
}

/* player e timebar */

#player {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
  }

#tasti {
  width: 100%;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tasti i {
  margin: 0 10px;
}

#tasti i:nth-of-type(3) {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

#scorrimento {
  width: 100%;
  height: 20px;
  text-align: center;
}

#timebar {
  display: inline-block;
  width: 400px;
  margin: 0 20px;
  background-color: #ae9f6f;
  border-radius: 2px;
}

#partialtime {
  width: 25%;
  border: 2px solid white;
  border-radius: 2px;
}

/* comandi volume, schermo e impostazioni */

#volume {
  width: 240px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#comandi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comandi i {
  color:white;
}

#volumebar {
  display: inline-block;
  width: 130px;
  background-color: #ae9f6f;
  border-radius: 2px;
}

#partialvolume {
  width: 25%;
  border: 2px solid white;
  border-radius: 2px;
}
