* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* regole pagina */

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

.testo1 {
  font-weight: 800;
  font-size: 20px;
  color: white;
  margin-top: 30px;
}

.testo2 {
  font-weight: 600;
  font-size: 10px;
  color: white;
}

.testo3 {
  font-weight: 800;
  font-size: 10px;
  color: #b3b3b3;
}

.testo3b {
  font-weight: 800;
  font-size: 10px;
  color: white;
  margin-top: 10px;
}

.testo4 {
  font-weight: 800;
  font-size: 8px;
  color: #b3b3b3;
  margin-top: 10px;
}

.testo4b {
  font-weight: 800;
  font-size: 8px;
  color: #b3b3b3;
}

.testo3:hover, .testo4b:hover {
  color: white;
  cursor: pointer;
}

/* parte laterale sx */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  padding: 16px 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 100px);
}

/* logo spotify */

#logo {
  height: 64px;
  padding: 0 16px;
}

#logo img {
  width: 80%;
  height: auto;
}

/* navbar home, cerca e libreria */
.iconelink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
}

.iconelink:nth-child(1) {
  border-left: 3px solid #ccff00;
  padding-left: 13px;
}

.icona {
  width: 15%;
  margin-right: 8px;
}

.icona > a > svg {
  width: 100%;
  height: auto;
}

.icona > a > svg path {
  fill: #b3b3b3;
}

.icona > a > svg:hover path {
  fill: white;;
}

/* playlist */

#playlist {
  flex-grow: 1;
  padding-left: 16px;
}

#creaplaylist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#plus {
  margin: 15px 8px 15px 0;
}

#plus a i {
  font-size: 40px;
  color: #b3b3b3;
}

#plus a i:hover {
  color: white;
}

#elencoplaylist {
  height: 150px;
  overflow-y: scroll;
}

#elencoplaylist ul {
  list-style-type: none;
}

#elencoplaylist ul li {
  margin-bottom: 10px;
}

/* installer applicazione */

#installer {
  margin: 10px 0;
  padding: 0 16px;
}

#appinstaller {
  border-bottom: 1px solid #b3b3b3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#appinstaller > .icona {
  width: 10%;
}

#downapp {
  padding-bottom: 9px;
}


/* dati utente */

#user {
  margin: 5px 0;
  padding-left: 16px;
}

#profilo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#iconautente {
  width: 15%;
  margin-right: 8px;
}

#iconautente > a > svg {
  width: 100%;
  height: auto;
  background-color: #b3b3b3;
  border-radius: 50%;
  padding: 0 3px;
}

#nome {
  padding-bottom: 5px;
}

/* SIDEBAR2 DA VISUALIZZARE IN RISOLUZIONE XS */

#sidebar2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  padding: 10px 0;
  background-color: black;
  height: calc(100vh - 100px);
  display: none;
}

#gruppo1 {
  width: 80%;
  margin: 0 auto;
}

#gruppo2 {
  width: 80%;
  margin: 0 auto;
}

#logo2 {
  width: 50%;
  margin: auto;
}

.icona2 {
  width: 50%;
  margin: 10px auto;
}

.icona2 > a > svg path {
  fill: #b3b3b3;
}

.icona2 > a > svg:hover path {
  fill: white;;
}

#gruppo2 > .icona2 {
  width: 70%;
  padding-right: 3px;
}

#iconautente2 {
  width: 70%;
  background-color: #b3b3b3;
  border-radius: 50%;
  padding: 0 4px;
  margin: auto;
}


/* parte centrale */
/* contenitore upgrade + centrale */
#canzoni {
  width: calc(100% - 240px);
  height: calc(100vh - 100px);
  background-color: #101113;
  position: fixed;
  top: 0;
  left: 240px;
  overflow-y: scroll;
}

/* barra upgrade fissata in alto */

#upgrade {
  width: calc(100% - 240px) ;
  height: 80px;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 240px;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  line-height: 60px;
}

#linkupgrade {
  width: 240px;
  margin: 10px;
}

#linkupgrade:hover {
  transform: scale(1.2);
}

#linkupgrade a {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 40px;
}

/* parte centrale con copertine degli album e generi musicali */

#centrale {
  margin-top: 80px;
  padding: 10px;
}

/* generi musicali */

#generi {
  display: flex;
  justify-content: center;
}

.genere {
  width: 100px;
  text-align: center;
}

#evidenziato {
  width: 30px;
  border: 2px solid #ccff00;
  margin-left: 35px;
}

/* parte centrale con copertine degli album */



/* liste create, recenti etc */

#recenti, #create, #popolari {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

/* liste recenti */

.album {
  text-align: center;
  width: calc((100% - 60px) / 6 );
  margin-right: 10px;
}

.copertina {
  position: relative;
}

.cursorplay {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.copertina:hover .cursorplay {
  display: initial;
}

.copertina img {
  width: 100%;
  height: auto;
}

.copertina:hover {
  cursor: pointer;
}
/* liste popolari */

#popolari img {
  border-radius: 50%;
}

/* fondo pagina barra con infobrano, player e comandi*/
#barra {
  width: 100%;
  height: 100px;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* infobrano, copertina, preferiti, playlist */

#infobrano {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#info1 {
  width: 50px;
}

#info1 img {
  width: 100%;
  height: auto;
}

#info2 {
  flex-grow: 1;
}

#info2 .testo4 {
  margin-top: 1px;
  margin-left: 10px;
}

#info2 .testo4:nth-of-type(1) {
  color: white;
  font-size: 9px;
}

#info2 .testo4:nth-of-type(2):hover, #info3 i:hover {
  color: white;
  cursor: pointer;
}

#info3 {
  width: 50px;
  text-align: right;
  color: #b3b3b3;
}

#info3 i:nth-of-type(1) {
  margin-right: 10px;
}

/* player e timebar */

#player {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
  }

#tasti {
  width: 100%;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tasti i {
  margin: 0 10px;
  cursor: pointer;
}

#tasti i:nth-of-type(3) {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

#tasti i:nth-of-type(3):hover {
  transform: scale(1.3);
}

#scorrimento {
  width: 100%;
  height: 20px;
  text-align: center;
}

#timebar {
  display: inline-block;
  width: 44%;
  margin: 0 20px;
  background-color: #b3b3b3;
  border-radius: 2px;
  /* position: relative; */
}

#partialtime {
  width: 25%;
  border: 2px solid white;
  border-radius: 2px;
  position: relative;
}

#partialtime:hover {
  border-color: #ccff00;
  cursor: pointer;
}

#partialtime span {
  font-size: 20px;
  position: absolute;
  top: -15px;
  right: -10px;
  color: white;
  display: none;
}

#partialtime:hover .ball {
  display: initial;
}

/* comandi volume, schermo e impostazioni */

#volume {
  width: 240px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#comandi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comandi i {
  color:white;
  cursor: pointer;
}

#volumebar {
  display: inline-block;
  width: 54%;
  background-color: #b3b3b3;
  border-radius: 2px;
}

#partialvolume {
  width: 25%;
  border: 2px solid white;
  border-radius: 2px;
  position: relative;
}

#partialvolume:hover {
  border-color: #ccff00;
  cursor: pointer;
}

#partialvolume span {
  font-size: 20px;
  position: absolute;
  top: -15px;
  right: -10px;
  color: white;
  display: none;
}

#partialvolume:hover .ball {
  display: initial;
}

/* MEDIA QUERY */

@media all and (max-width: 1439px) {
  #recenti, #create, #popolari {
    flex-wrap: wrap;
  }

  .album {
    width: calc((100% - 40px) / 4 );
  }

  .album > .testo4 {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 877px) {
  /* sidebar */
  #sidebar {
    width: 185px;
  }

  /* contenitore upgrade + centrale */
  #canzoni {
    width: calc(100% - 185px);
    position: fixed;
    top: 0;
    left: 185px;
  }

  /* barra upgrade fissata in alto */

  #upgrade {
    width: calc(100% - 185px) ;
    position: fixed;
    top: 0;
    left: 185px;
  }

  #generi {
    flex-wrap: wrap;
  }

  .album {
    width: calc((100% - 20px) / 2 );
  }
}

@media all and (max-width: 552px) {

  #sidebar {
    display: none;
  }

  #sidebar2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* contenitore upgrade + centrale */
  #canzoni {
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    left: 50px;
  }

  /* barra upgrade fissata in alto */

  #upgrade {
    width: calc(100% - 50px) ;
    position: fixed;
    top: 0;
    left: 50px;
  }

}
